@import url("https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

body {
  text-align: center;
  background-color: #ebecf1;
}
header {
  margin: 3% 16%;
  margin-bottom: 4%;
}

#title {
  font-family: "Allerta Stencil", sans-serif;
  font-size: 65px;
  color: black;
}
#search {
  width: 30%;
  height: 2em;
  border: 2px solid black;
  border-radius: 5px;
}

#search:focus,
#search-btn:focus {
  outline: none;
}

#search::placeholder {
  font-family: "Montserrat", sans-serif;
}

#search-btn {
  width: 10%;
  margin-left: 0.5%;
  height: 2.45em;
  background-color: rgb(44, 44, 44);
  border-radius: 5px;
  border: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

#search-btn:hover {
  transition-duration: 0.4s;
  background-color: black;
}

/* LIST VIEW PROPERTIES */
#list-view {
  width: 62%;
  margin: auto;
  padding: 1%;
  background-color: white;
  font-family: "Roboto Condensed", sans-serif;
}

#list-view .avatar {
  width: 85%;
  margin: -1%;
}
#list-view .container {
  display: grid;
  grid-template-columns: 10% 37% 52.5%;
  margin-bottom: 1%;
  border: 1px solid rgb(231, 231, 231);
}
#list-view .container:last-child {
  margin-bottom: 0;
}
#list-view .username {
  align-self: center;
  text-align: left;
  font-size: 1.35vw;
}
#list-view .usertype {
  font-size: 1vw;
}
#list-view .repos {
  align-self: center;
  justify-self: left;
  text-align: left;
  font-size: 1vw;
}

/* LIST VIEW PROPERTIES */
/* GRID VIEW PROPERTIES */
#grid-view {
  width: 62%;
  margin: auto;
  padding: 1%;
  background-color: white;
  font-family: "Roboto Condensed", sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.5%;
}

#grid-view .avatar {
  width: 100%;
}
#grid-view .username {
  font-size: 1.3vw;
  margin-top: 4%;
}
#grid-view .repos {
  margin-top: -5%;
  font-size: 1vw;
}
#grid-view .usertype {
  font-size: 1vw;
}
/* GRID VIEW PROPERTIES */

.userlink {
  color: orange;
  text-decoration: none;
}

.userlink:hover {
  color: rgb(255, 179, 38);
}

.container:hover {
  transition: 0.3s;
  /* background-color: rgb(252, 180, 24); */
  background-color: #ebecf1;
}
/* ----------- */

#toggle-switch {
  text-align: right;
  margin-right: 19%;
  margin-bottom: 1%;
  cursor: context-menu;
}

#toggle-switch button {
  background-color: white;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1.15vw;
  width: 6.5vw;
  height: 28px;
  cursor: pointer;
  margin-left: 0.2%;
}
#toggle-switch button:focus {
  outline: none;
}

#toggle-switch button:hover,
.active {
  transition: 0.1s;
  color: orange;
}

#not-found {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  margin: auto;
  margin-top: 6%;
  font-size: 5vw;
}
#not-found i {
  font-size: 6vw;
}

/* MEDIA QUERY */
/* MEDIA QUERY */
/* MEDIA QUERY */
@media (max-width: 1100px) {
  #title {
    font-size: 7vw;
  }
  #search {
    width: 40%;
    height: 3.5vw;
  }
  #search::placeholder {
    font-size: 1.65vw;
  }
  #search-btn {
    width: 20%;
    font-size: 1.6vw;
  }
  #toggle-switch {
    margin: 0px 4% 1% 0px;
  }
  #toggle-switch button {
    width: 10%;
    height: 3.5vw;
    font-size: 1.7vw;
  }

  #list-view,
  #grid-view {
    width: 95%;
  }

  #list-view .username {
    font-size: 2.5vw;
    margin-left: 6%;
  }
  #list-view .repos {
    font-size: 1.9vw;
  }
  #list-view .usertype {
    font-size: 1.6vw;
  }
  #list-view .avatar {
    width: 110%;
  }
  #grid-view .username {
    font-size: 2.3vw;
  }
  #grid-view .usertype {
    font-size: 1.5vw;
  }
  #grid-view .repos {
    font-size: 1.8vw;
  }
}
@media (max-width: 800px) {
  #grid-view {
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 2%;
  }
}
@media (max-width: 600px) {
  header {
    margin: 0px;
  }
  #title {
    font-size: 30px;
  }
  #search {
    width: 60%;
    margin: auto;
    height: 1.7em;
  }
  #search::placeholder {
    font-size: 10.5px;
  }
  #search-btn {
    width: 30%;
    font-size: 10.5px;
  }
  form {
    margin-bottom: 8%;
  }
  #toggle-switch {
    margin: auto;
  }
  #toggle-switch button {
    font-size: 17px;
    width: 30px;
    margin-bottom: 1.5%;
    height: auto;
  }
  .button-txt {
    display: none;
  }
  /* LIST VIEW */
  #list-view {
    width: 98%;
  }
  #list-view .avatar {
    grid-row: 1/3;
    width: 82%;
  }
  #list-view .container {
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr;
  }
  #list-view .username {
    align-self: baseline;
    font-size: 4.8vw;
    margin: 5% 0px 0px -2%;
  }
  #list-view .usertype {
    font-size: 3.2vw;
  }
  #list-view .repos {
    font-size: 3.3vw;
    margin: 0px 0px 6% -2%;
  }
  /* LIST VIEW */
  /* GRID VIEW */
  #grid-view {
    width: 98%;
    grid-template-columns: 1fr 1fr;
    gap: 2.5%;
    row-gap: 10px;
    padding-bottom: 2%;
  }
  #grid-view .container {
    width: 100%;
  }
  #grid-view .username {
    font-size: 4.25vw;
  }
  #grid-view .repos {
    font-size: 3.2vw;
  }
  #grid-view .usertype {
    font-size: 2.7vw;
  }

  /* GRID VIEW */
}

/* QUERY FOR HIGHER RESOLUTION */
@media (min-width: 2100px) {
  * input {
    font-size: 1vw;
  }
  #title {
    font-size: 4vw;
  }
  #search {
    height: 2vw;
  }
  #search-btn {
    height: 2vw;
  }
  #search::placeholder {
    font-size: 0.8vw;
  }
  #search-btn {
    font-size: 0.8vw;
  }
  #toggle-switch button {
    height: 1.9vw;
  }
  #toggle-switch {
    margin-bottom: 0.7%;
  }
}
