@import url("https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ebecf1;
}

@keyframes sparkle {
  0% {
    opacity: 0.001;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.001;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
